DATABASE_URL=postgres://arc:arc@127.0.0.1:5433/arc
TMDB_READ_ACCESS_TOKEN=

ARC_SCHEDULER_CONCURRENCY=3
ARC_SCHEDULER_MAX_CLAIMED_TARGETS=25
ARC_SCHEDULER_CLAIMING_WINDOW_SECONDS=240
ARC_SCHEDULER_LEASE_SECONDS=600
ARC_SCHEDULER_LEASE_RENEWAL_SECONDS=180
ARC_SCHEDULER_FULL_RECONCILIATION_SECONDS=3600
ARC_SCHEDULER_POLL_SECONDS=300
